# Conducting Hypothesis Testing on supply chain management dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv("C:\\Users\\vamsi\\OneDrive\\Desktop\\Vamshi Data\\Supplychain train dataset.csv")

In [4]:
df.head(10)

,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,retail_shop_num,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported_l3m,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown_l3m,govt_check_l3m,product_wg_ton
0,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,4651,...,1,91,29.0,NaN,13,0,A,5,15,17115
1,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,6217,...,1,210,31.0,NaN,4,0,A,3,17,5074
2,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,4306,...,0,161,37.0,NaN,17,0,A,6,22,23137
3,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,6000,...,0,103,21.0,NaN,17,1,A+,3,27,22115
4,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,4740,...,1,112,25.0,2009.0,18,0,C,6,24,24071
5,WH_100005,EID_50005,Rural,Small,West,Zone 1,8,0,2,5053,...,1,152,35.0,2009.0,23,1,A+,3,3,32134
6,WH_100006,EID_50006,Rural,Large,West,Zone 6,8,0,4,4449,...,1,77,27.0,2010.0,24,0,B,3,6,30142
7,WH_100007,EID_50007,Rural,Large,North,Zone 5,1,0,4,7183,...,0,241,23.0,NaN,18,0,C,6,24,24093
8,WH_100008,EID_50008,Rural,Small,South,Zone 6,8,1,4,5381,...,1,124,22.0,2013.0,13,1,A+,5,2,18082
9,WH_100009,EID_50009,Rural,Small,South,Zone 6,4,3,3,3869,...,0,78,43.0,NaN,6,0,C,6,2,7130

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22150 entries, 0 to 22149
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ware_house_ID                 22150 non-null  object
 1   WH_Manager_ID                 22150 non-null  object
 2   Location_type                 22150 non-null  object
 3   WH_capacity_size              22150 non-null  object
 4   zone                          22150 non-null  object
 5   WH_regional_zone              22150 non-null  object
 6   num_refill_req_l3m            22150 non-null  int64
 7   transport_issue_l1y           22150 non-null  int64
 8   Competitor_in_mkt             22150 non-null  int64
 9   retail_shop_num               22150 non-null  int64
 10  wh_owner_type                 22150 non-null  object
 11  distributor_num               22150 non-null  int64
 12  flood_impacted                22150 non-null  int64
 13  flood_proof                   22150 non-null  int64
 14  electric_supply               22150 non-null  int64
 15  dist_from_hub                 22150 non-null  int64
 16  workers_num                   21273 non-null  float64
 17  wh_est_year                   11605 non-null  float64
 18  storage_issue_reported_l3m    22150 non-null  int64
 19  temp_reg_mach                 22150 non-null  int64
 20  approved_wh_govt_certificate  21345 non-null  object
 21  wh_breakdown_l3m              22150 non-null  int64
 22  govt_check_l3m                22150 non-null  int64
 23  product_wg_ton                22150 non-null  int64
dtypes: float64(2), int64(14), object(8)
memory usage: 4.1+ MB

In [6]:
df.dtypes

Ware_house_ID                    object
WH_Manager_ID                    object
Location_type                    object
WH_capacity_size                 object
zone                             object
WH_regional_zone                 object
num_refill_req_l3m                int64
transport_issue_l1y               int64
Competitor_in_mkt                 int64
retail_shop_num                   int64
wh_owner_type                    object
distributor_num                   int64
flood_impacted                    int64
flood_proof                       int64
electric_supply                   int64
dist_from_hub                     int64
workers_num                     float64
wh_est_year                     float64
storage_issue_reported_l3m        int64
temp_reg_mach                     int64
approved_wh_govt_certificate     object
wh_breakdown_l3m                  int64
govt_check_l3m                    int64
product_wg_ton                    int64
dtype: object

# Descrpitive Stats

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
num_refill_req_l3m,22150.0,4.097020,2.606289,0.0,2.00,4.0,6.0,8.0
transport_issue_l1y,22150.0,0.777201,1.201747,0.0,0.00,0.0,1.0,5.0
Competitor_in_mkt,22150.0,3.103928,1.142886,0.0,2.00,3.0,4.0,12.0
retail_shop_num,22150.0,4983.115711,1050.634225,1821.0,4309.25,4859.0,5499.0,11008.0
distributor_num,22150.0,42.386998,16.057730,15.0,29.00,42.0,56.0,70.0
flood_impacted,22150.0,0.098691,0.298253,0.0,0.00,0.0,0.0,1.0
flood_proof,22150.0,0.054492,0.226991,0.0,0.00,0.0,0.0,1.0
electric_supply,22150.0,0.656072,0.475028,0.0,0.00,1.0,1.0,1.0
dist_from_hub,22150.0,163.613725,62.660709,55.0,109.00,164.0,218.0,271.0
workers_num,21273.0,28.936398,7.843431,10.0,24.00,28.0,33.0,98.0
wh_est_year,11605.0,2009.401206,7.527223,1996.0,2003.00,2009.0,2016.0,2023.0
storage_issue_reported_l3m,22150.0,17.116659,9.174193,0.0,10.00,18.0,24.0,39.0
temp_reg_mach,22150.0,0.304199,0.460078,0.0,0.00,0.0,1.0,1.0
wh_breakdown_l3m,22150.0,3.487765,1.691661,0.0,2.00,3.0,5.0,6.0
govt_check_l3m,22150.0,18.767765,8.644778,1.0,11.00,20.0,26.0,32.0
product_wg_ton,22150.0,22086.780813,11626.192340,2065.0,12151.00,22099.0,30102.0,55151.0

# Conducting Hypothesis Testing

# Null Hypothesis = Average product weight shipment equal for all zones

# Alternative Hypothesis = Average product weight shipment Not equal for all zones

In [8]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Conducting Anova Test:

# WH_regional_zone

In [9]:
new=ols('product_wg_ton ~ WH_regional_zone',data=df).fit()
Anova=sm.stats.anova_lm(new,typ=2)

In [10]:
Anova

                        sum_sq       df         F    PR(>F)
WH_regional_zone  6.824735e+08      5.0  1.009815  0.409949
Residual          2.993161e+12  22144.0       NaN       NaN

# Here P>0.05 so 
Null Hypothesis Accepted and Alternative Hypothesis Rejected due to P value not less than 0.005

Average product weight of shipment is equal for all Zones

# Location type

In [11]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
new=ols('product_wg_ton ~Location_type',data=df).fit()
Anova=sm.stats.anova_lm(new,typ=2)

In [12]:
Anova

                     sum_sq       df           F        PR(>F)
Location_type  1.646450e+10      1.0  122.475383  2.156277e-28
Residual       2.977379e+12  22148.0         NaN           NaN

# Zone

In [13]:
new=ols('product_wg_ton ~ zone',data=df).fit()
Anova=sm.stats.anova_lm(new,typ=2)

In [14]:
Anova

                sum_sq       df         F    PR(>F)
zone      5.239619e+08      3.0  1.292173  0.275139
Residual  2.993320e+12  22146.0       NaN       NaN

# WH_Owner_type

In [15]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

new=ols('product_wg_ton ~ wh_owner_type',data=df).fit()
Anova=sm.stats.anova_lm(new,typ=2)

In [16]:
Anova

                     sum_sq       df         F    PR(>F)
wh_owner_type  3.485773e+07      1.0  0.257875  0.611589
Residual       2.993809e+12  22148.0       NaN       NaN